.main{
    display: flex;
    margin:  2em 0;
    justify-content: space-between;
        @media (max-width: $small) {
            flex-direction: column;
        }

    & .post{
        width: 75%;
        order: 2;
        @media (max-width: $small) {
            order: 1; 
            width: 100%;
         }
    
    }

    & .sidebar {
        width: 20%;
        @media (max-width: $small) {
            order: 2; 
            width: 100%;
         }
    }
}

.main img{
    width: 100%;
}
